[Desktop Entry]
Categories=Graphics;Photography;
Comment=Download, rename and back up photos and videos from cameras and other devices
Comment[cs]=Stahování, přejmenovávání a zálohování fotografií a videí z fotoaparátů a dalších zařízení
Comment[de]=Fotos und Videos von Kameras oder anderen Geräten und Speichermedien übertragen und/oder umbenennen sowie Sicherheitskopien erstellen
Comment[el]=Κατεβάστε, αλλάξτε όνομα και κάνετε αντίγραφα ασφαλείας φωτογραφιών και βίντεο από κάμερες και άλλες συσκευές
Comment[es]=Descargar, renombrar y hacer copias de seguridad de fotos y vídeos de cámaras y otros dispositivos
Comment[fr]=Transférez, renommez et sauvegardez des photos et des vidéos à partir d'appareils photo et d'autres périphériques
Comment[hu]=Fényképek és videók letöltése, átnevezése és biztonsági mentése kamerákból és egyéb eszközökről
Comment[ja]=カメラなどのデバイスから写真・動画をダウンロードしたり，名称変更したりバックアップしたりします．
Comment[nb]=Last ned, endre navn og sikkerhetskopier bilder og videoer fra kameraer og andre enheter
Comment[nl]=Download, hernoem en back-up foto's en video's van camera's en andere apparaten
Comment[nn]=Last ned, endra namn og tryggleikskopier bilete og videoar frå kamera og andre einingar
Comment[pl]=Pobieraj, zmieniaj nazwy i twórz kopie zapasowe zdjęć i filmów z aparatów i innych urządzeń
Comment[pt_BR]=Baixar, renomear e salvar em backup fotos e vídeos de câmeras e outros dispositivos
Comment[ru]=Загружайте, переименовывайте и создавайте резервные копии фото и видео с камер и других устройств
Comment[sq]=Shkarkoni, riemërtoni dhe bëni kopje rezervë të fotove dhe videove nga kamerat dhe pajisjet e tjera
Comment[sr]=Преузмите, преименујте и направите резерву фотографија и снимака са фото-апарата и других уређаја
Comment[tr]=Kameralardan ve diğer cihazlardan fotoğrafları ve videoları indirin, yeniden adlandırın ve yedekleyin
Comment[zh_CN]=从相机和其他设备上下载、重命名并备份照片和视频。
Exec=rapid-photo-downloader %f
GenericName=Photo Downloader
GenericName[cs]=Nástroj pro stahování fotografií
GenericName[da]=Photo Downloader
GenericName[de]=Fotoübertragung
GenericName[el]=Photo Downloader
GenericName[es]=Descargador de fotos
GenericName[fr]=Transfert d'images
GenericName[hu]=Photo Downloader
GenericName[ja]=写真ダウンローダ
GenericName[nb]=Bildenedlaster
GenericName[nl]=Photo Downloader
GenericName[nn]=Biletnedlastar
GenericName[pl]=Photo Downloader
GenericName[pt_BR]=Photo Downloader
GenericName[ru]=Загрузчик фото
GenericName[sq]=Shkarkues fotosh
GenericName[sr]=Преносилац фотографија
GenericName[tr]=Photo Downloader
GenericName[zh_CN]=照片下载器
Icon=rapid-photo-downloader
MimeType=x-content/image-dcf
Name=Rapid Photo Downloader
Name[ca]=Rapid Photo Downloader
Name[cs]=Rapid Photo Downloader
Name[da]=Rapid Photo Downloader
Name[de]=Rapid-Fotoübertragung
Name[es]=Rapid Photo Downloader
Name[et]=Rapid foto allalaadija
Name[fi]=Nopea kuvien lataus
Name[fr]=Rapid Photo Downloader
Name[hr]=Rapid Photo Downloader
Name[hu]=Gyors Fotó Letöltő
Name[it]=Rapid Photo Downloader
Name[ja]=高速写真ダウンローダ
Name[nb]=Rapid Photo Downloader
Name[nl]=Rapid Photo Downloader
Name[nn]=Rapid Photo Downloader
Name[oc]=Rapid Photo Downloader
Name[pl]=Rapid Photo Downloader
Name[pt]=Transferidor Rápido de Foto
Name[pt_BR]=Rapid Photo Downloader
Name[ro]=Rapid Foto Descărcător
Name[ru]=Rapid Photo Downloader
Name[sk]=Rapid Photo Downloader
Name[sq]=Shkarkues i Shpejtë Fotosh
Name[sr]=Брзи преносилац фотографија
Name[sv]=Rapid Photo Downloader
Name[tr]=Rapid Photo Downloader
Name[uk]=Rapid Photo Downloader
Name[zh_CN]=快速照片下载器
Name[en_US]=Rapid Photo Downloader
Terminal=false
Type=Application
StartupWMClass=rapid-photo-downloader
Version=1.0
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=photo;download;photography;import;video;RAW;camera;phone;ingest;backup;memory;card;
Keywords[ca]=fotos;baixada;fotografia;importació;vídeo;RAW;càmera;telèfon;transferència;còpia de seguretat;memòria;targeta;
Keywords[cs]=fotografie;stahování;fotografování;import;video;RAW;fotoaparát;telefon;záloha;paměť;karta;
Keywords[da]=foto;download;fotografering;import;video;RAW;kamera;telefon;ingest;sikkerhedskopi;hukommelse;kort;
Keywords[de]=Foto;übertragen;Fotografie;Import;Video;RAW;Kamera;Smartphone;Laden;Sicherung;Speicher;Speicherkarte;
Keywords[el]=photo;download;photography;import;video;RAW;camera;phone;ingest;backup;memory;card;φωτογραφία;φωτό;βίντεο;κάμερα;εισαγωγή;τηλέφωνο;μνήμη;κάρτα;
Keywords[es]=foto;descarga;fotografía;importar;vídeo;RAW;cámara;teléfono;ingesta;copia de seguridad;memoria;tarjeta;
Keywords[fi]=kuva;lataa;valokuvaus;tuo;video;RAW;kamera;puhelin;syöttämä;varmuuskopio;muisti;kortti;
Keywords[fr]=photo;télécharger;transférer;photographie;importation;vidéo;RAW;appareil photo;téléphone;sauvegarde;mémoire;carte;
Keywords[hu]=fénykép, letöltés, fényképezés, import, videó, RAW, kamera, telefon, mentés, memória kártya;
Keywords[ja]=写真;ダウンロード;インポート;動画;ビデオ;RAW;カメラ;電話;スマホ;取得;バックアップ;メモリ;カード;
Keywords[nb]=foto;bilde;nedlasting;fotografi;import;video;RAW;kamera;telefon;ingest;backup;sikkerhetskopi;minne;kort;
Keywords[nl]=foto;download;fotografie;import;video;RAW;camera;telefoon;ingest;back-up;geheugen;kaart;
Keywords[nn]=foto;bilete;nedlasting;fotografi;import;video;RAW;kamera;telefon;ingest;backup;tryggleikskopi;minne;kort;
Keywords[pl]=zdjęcia;pobieranie;fotografia;importowanie;wideo;RAW;aparat;telefon;przetwarzanie;kopia zapasowa;pamięć;karta;
Keywords[pt_BR]=foto;download;fotografia;importart;vídeo;RAW;câmera;smartphone;ingest;backup;memória;cartão;
Keywords[ru]=фото;загрузка;фотография;импорт;видео;RAW;камера;телефон;ingest;резрвные копии;память;карта;
Keywords[sq]=foto;shkarko;fotografi;importo;video;RAW;kamera;telefon;gëlltis;rezervo;memorje;kartë;
Keywords[sr]=фотографија;преузми;увези;снимак;фото-апарат;телефон;резерва;меморија;картица;
Keywords[tr]=fotoğraf;indirme;fotoğrafçılık;içe aktarma;video;RAW;kamera;telefon,içe alma;yedekleme;bellek;kart;
Keywords[zh_CN]=photo;download;photography;import;video;RAW;camera;phone;ingest;backup;memory;card;
