include *.rst
include *.in
include requirements.txt
include po/LINGUAS
include install.py
include upgrade.py
recursive-include data *.in
recursive-include data *.png
recursive-include data *.svg
recursive-include data *.xpm
recursive-include doc *.pod
recursive-include po *.in
recursive-include po *.po
recursive-include po *.pot
recursive-include raphodo *.py
recursive-include raphodo *.qrc
recursive-include raphodo *.txt
global-exclude *~ *.pyc *~1~ *~2~ *bak
exclude raphodo/test.py
exclude raphodo/test2.py
prune tasks
prune raphodo/tests
prune debian
prune images
