include rapid-photo-downloader
include rapid/TODO rapid/AUTHORS rapid/ChangeLog rapid/TODO rapid/INSTALL rapid/COPYING
recursive-include data/ *.png *.xpm *.desktop
recursive-include rapid/glade3 *.glade *.png *.svg
include po/rapid-photo-downloader.pot
include po/*.po
include doc/rapid-photo-downloader.pod

