Source: rapid-photo-downloader
Section: graphics
Priority: optional
Maintainer: Damon Lynch <damonlynch@gmail.com>
Build-Depends: debhelper (>= 8),
               python (>= 3.4),
               gettext
Standards-Version: 3.9.4               
X-Python-Version: 3.4
Homepage: http://damonlynch.net/rapid

Package: rapid-photo-downloader
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python3-pyqt5,
         python3-zmq,
         gir1.2-gexiv2-0.10,
         gir1.2-gudev,
         gir1.2-udisks-2.0,
         gir1.2-notify-0.7,
         python3-sortedcontainers,
         python3-arrow,
         python3-psutil,
         qt5-image-formats-plugins,
         libimage-exiftool-perl,
         exiv2
         
Description: Photo and video importer from memory cards, cameras and other devices
 Rapid Photo Downloader imports photos and videos from memory cards and 
 other devices at high speed. It can be configured to rename photos and 
 videos with meaningful filenames. It can back up photos and videos as 
 they are downloaded. It can download from and back up to multiple devices 
 simultaneously, which is valuable when importing from multiple memory
 cards or backing up to multiple external drives. Written by a photographer
 for professional and amateur photographers, Rapid Photo Downloader is easy
 to configure and use.
