#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	pod2man --section=1 --release=$(VERSION) --center "" doc/rapid-photo-downloader.pod > rapid-photo-downloader.1

override_dh_auto_install:
	dh_auto_install
	-rm -rf debian/rapid-photo-downloader/usr/share/icons/hicolor/scalable/

override_dh_auto_clean:
	-rm rapid-photo-downloader.1
	-rm -rf build/
	dh_auto_clean
