[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=exec;

[Desktop Action exec]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=/usr/bin/rapid-photo-downloader
Icon=/usr/share/pixmaps/rapid-photo-downloader.png
Name=Download Photos with Rapid Photo Downloader
Name[fr]=Téléchargement de photos avec Rapid Photo Downloader

