[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=exec;

[Desktop Action exec]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=rapid-photo-downloader
Icon=rapid-photo-downloader
Name=Download Photos and Videos with Rapid Photo Downloader
Name[ca]=Transferiu fotos i vídeos amb el Rapid Photo Downloader
Name[cs]=Stáhnout fotografie a videa pomocí aplikace Rapid Photo Downloader
Name[da]=Hent fotos og videoer med Rapid Photo Downloader
Name[de]=Fotos und Videos mit Rapid-Fotoübertragung übertragen
Name[el]=Κατεβάστε φωτογραφίες και βίντεο με τον Rapid Photo Downloader
Name[es]=Descargue fotos y vídeos con Rapid Photo Downloader
Name[fi]=Lataa kuvat ja videot Kuvien nopealla lataajalla
Name[fr]=Transférer des photos et des vidéos avec Rapid Photo Downloader
Name[hu]=Fotók és videók letöltése a Rapid Photo Downloader alkalmazással
Name[ja]=写真と動画を高速写真ダウンローダでダウンロードする
Name[nb]=Last ned bilder og videoer med Rapid Photo Downloader
Name[nl]=Download Foto's en Video's met Rapid Photo Downloader
Name[nn]=Last ned bilete og videoar med Rapid Photo Downloader
Name[pl]=Pobieraj zdjęcia i filmy z Rapid Photo Downloader
Name[pt_BR]=Baixe fotos e vídeos com Rapid Photo Downloader
Name[ru]=Загружайте фото и видео с Rapid Photo Downloader
Name[sq]=Shkarkoni Foto dhe Video me Shkarkuesin e Shpejtë të Fotove
Name[sr]=Преузмите фотографије и снимке са Брзим преносиоцем фотографија
Name[tr]=Rapid Photo Downloader ile Fotoğraf ve Video İndirin
Name[zh_CN]=使用Rapid Photo Downloader下载照片和视频。

