[Desktop Entry]
Version=1.0
Name=Rapid Photo Downloader
GenericName=Rapid Photo Downloader
Comment=Download photos and videos from cameras, memory cards and Portable Storage Devices
Exec=rapid-photo-downloader
Icon=rapid-photo-downloader
MimeType=x-content/image-dcf;
Terminal=false
Type=Application
Categories=Graphics;Photography;
